<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-0 ">
  <h1 class="h4 fw-bold text-info mb-0 mt-0">User dashboard Details</h1>
</div>
<div class="col contentarea">
  <div class="card content card-body">
    <!-- <div class="row">
        <h1 class="h4 fw-bold text-info mb-0 mt-1" style="padding-bottom: 25px;">Products</h1>
      </div> -->
    <!-- toolbar -->
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="d-flex w-100 flex-row ">
        <div class="" style="
        width: 110px;"><button class="btn btn-sm btn-warning ms-2" (click)="routeToAdd()" title="Add Product"
            style="width: 55px;">+</button>
        </div>
        <div class="tablearea mt-3" style="display: block; white-space: nowrap; -ms-overflow-x: auto;">
          <div class="table table-bordered" id="area1">
            <ng2-smart-table [settings]="settings" [source]="petsList" (custom)="onCustomAction($event)">
            </ng2-smart-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button id="openModalButton" [hidden]="true" data-bs-toggle="modal" data-bs-target="#view">Open
  Modal</button>
<div class="modal fade" id="view" tabindex="-1" aria-labelledby="view" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content bluemodal">
      <div class="modal-header" style="background-color: #2b67eb;">
        <h5 class="modal-title" id="viewStaff" style="color: white;">Add User Pets</h5>
        <button type="button" id="viewClose" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid parentdetails">
          <form [formGroup]="addForm">
            <div class="form-outline mb-4">
              <input type="text" id="registerUsername" class="form-control" placeholder="Pet Name"
                formControlName="name" />

            </div>
            <div class="form-outline mb-4">
              <input type="text" id="registerUsername" class="form-control" placeholder="Pet Type"
                formControlName="petType" />

            </div>
            <div class="form-outline mb-4">
              <input type="text" id="registerUsername" class="form-control" placeholder="Amount"
                formControlName="amount" />

            </div>
          </form>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="saveModal()" data-bs-dismiss="modal">Save</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<button id="openModalButton1" [hidden]="true" data-bs-toggle="modal" data-bs-target="#edit">Open
  Modal</button>
<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content bluemodal">
      <div class="modal-header" style="background-color: #2b67eb;">
        <h5 class="modal-title" id="viewStaff" style="color: white;">Edit Pet Details</h5>
        <button type="button" id="viewClose" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid parentdetails">
          <form [formGroup]="editForm">
            <div class="form-outline mb-4">
              <input type="text" id="registerUsername" class="form-control" placeholder="Pet Name"
                formControlName="name" />

            </div>
            <div class="form-outline mb-4">
              <input type="text" id="registerUsername" class="form-control" placeholder="Pet Type"
                formControlName="petType" />

            </div>
            <div class="form-outline mb-4">
              <input type="text" id="registerUsername" class="form-control" placeholder="Amount"
                formControlName="amount" />

            </div>
          </form>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="update()" data-bs-dismiss="modal">Update</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>