<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-0 ">
  <h1 class="h4 fw-bold text-info mb-0 mt-0">ADMIN DASHBOARD</h1>
</div>
<div class="col contentarea">
  <div class="card content card-body">
    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="tab-user" data-bs-toggle="tab" data-mdb-toggle="pill" href="#pills-user"
          role="tab" aria-controls="pills-user" aria-selected="true">USER DETAILS</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="tab-pets" data-bs-toggle="tab" data-mdb-toggle="pill" href="#pills-pets" role="tab"
          aria-controls="pills-pets" aria-selected="false">PETS DETAILS</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="pills-user" role="tabpanel" aria-labelledby="tab-user">
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="d-flex w-100 flex-row ">
            <div class="tablearea mt-3" style="display: block; white-space: nowrap; -ms-overflow-x: auto;">
              <div class="table table-bordered" id="area1">
                <ng2-smart-table [settings]="settings" [source]="usersList" (custom)="onCustomAction($event)">
                </ng2-smart-table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-pets" role="tabpanel" aria-labelledby="tab-pets">
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="d-flex w-100 flex-row ">
            <div class="" style="
        width: 110px;"><button class="btn btn-sm btn-warning ms-2" (click)="routeToAdd()" title="Add Pet"
                style="width: 55px;">+</button>
            </div>
            <div class="tablearea mt-3" style="display: block; white-space: nowrap; -ms-overflow-x: auto;">
              <div class="table table-bordered" id="area1">
                <ng2-smart-table [settings]="settings_pets" [source]="petsList" (custom)="onCustomAction($event)">
                </ng2-smart-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<button id="openModalButton" [hidden]="true" data-bs-toggle="modal" data-bs-target="#view">Open
  Modal</button>
<div class="modal fade" id="view" tabindex="-1" aria-labelledby="view" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content bluemodal">
      <div class="modal-header" style="background-color: #2b67eb;">
        <h5 class="modal-title" id="viewStaff" style="color: white;">Add User Pets</h5>
        <button type="button" id="viewClose" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid parentdetails">
          <form [formGroup]="updateForm">

            <!-- Username input -->
            <div class="form-outline mb-4">
              <input type="text" id="registerUsername" class="form-control" placeholder="username"
                formControlName="userName" readonly />
            </div>
            <!-- email input -->
            <div class="form-outline mb-4">
              <input type="text" id="registerPassword" class="form-control" placeholder="email"
                formControlName="email" />
            </div>

            <!-- phone number input -->
            <div class="form-outline mb-4">
              <input type="text" id="registerPhone" class="form-control" placeholder="phone number"
                formControlName="phone" />
            </div>

          </form>

        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-block mb-3" (click)="onUpdate()">Update User</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<button id="openModalButton1" [hidden]="true" data-bs-toggle="modal" data-bs-target="#viewpets">Open
  Modal</button>
<div class="modal fade" id="viewpets" tabindex="-1" aria-labelledby="viewpets" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content bluemodal">
      <div class="modal-header" style="background-color: #2b67eb;">
        <h5 class="modal-title" id="viewStaff" style="color: white;">View User Pets</h5>
        <button type="button" id="viewClose" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid parentdetails">
          <div class="table table-bordered" id="area1">
            <ng2-smart-table [settings]="settings_userpets" [source]="usersPetsList" (custom)="onCustomAction($event)">
            </ng2-smart-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>